@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Kinga Pszeniczna:</strong>   <a href="mailto:w57122@student.wsiz.rzeszow.pl">w57122@student.wsiz.rzeszow.pl</a><br />
    <strong>Agnieszka Zaguła:</strong> <a href="mailto:w57097@student.wsiz.rzeszow.pl">w57097@student.wsiz.rzeszow.pl</a>
</address>